DISCORD_TOKEN=your_bot_token_here
PORT=3000
# Paste your Firebase Service Account JSON as a single line string here
FIREBASE_SERVICE_ACCOUNT='{"type": "service_account", ...}'
MILESTONE_CHANNEL_ID=
ALLOWED_CHANNEL_ID=
WFL_CHANNEL_ID=
PROJECT_URL= # Your bot's public URL (to keep it awake)
